
.white-section{
  max-width: 1920px;
  padding: 150px clamp(20px, 3vw, 100px);
  margin: 0 auto;
  @include screen-lg {
    text-align: center;
  }
  .line{
    width: clamp(30px, 6vw, 50px);
    height: 2px;
    background: $color-brown;
    margin: 20px 0;
  }
  .button{
    margin-top: 20px;
  }
}

.section-title{
  height: 50vh;
  min-height: 200px;
  max-height: 400px;
}